*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
border: 1px solid red;}

.logo{
  width: 100px;
}

.nav-items > ul{
 display: flex;
list-style-type: none;
font-size: 20px;
}
.nav-items > ul >li {
  padding: 2px 20px;
}

.body{
  border: 1px solid black;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */

}
.res-card{
  background-color: #f0f0f0;
  width: 230px;
  /* height: 300px; */
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
}
.res-card:hover{
  border: 1px solid black;
  cursor: pointer;

}

.search{
  padding: 10px;
}
.res-image{
  width: 100%;
  padding: 3px;
  height: 200px;
}